@using Westwind.AspNetCore.Markdown
@model Core.Models.Topic

@{
    ViewBag.Title = "TopicByName";
}

<article class="row justify-content-center mt-5">
    <div class="col-lg-10">
        <h1>@Model.Name</h1>
        <p class="text-monospace">
            <i class="fas fa-edit"></i>
            <i class="fas fa-share"></i>
            <a class="text-dark text-decoration-none"
               href=@Url.Action("Index", "Commits")>
                <i class="fas fa-history"></i>
            </a>
            <a class="text-dark text-decoration-none"
               href=@Url.Action("UpVote", "Topics", new { topicName = Model.Name })>
                <i class="fas fa-arrow-circle-up"></i> @Model.UpVotes
            </a>
            <a class="text-dark text-decoration-none"
               href=@Url.Action("DownVote", "Topics", new { topicName = Model.Name })>
                <i class="fas fa-arrow-circle-down"></i> @Model.DownVotes
            </a>
        </p>
        <hr />
        <div>@Markdown.ParseHtmlString(Model.Body)</div>
    </div>
</article>