@model Core.Models.Topic

@{
    ViewBag.Title = "Index";
}

<article class="row justify-content-center mt-5">
    <div class="col-lg-10">
        <h1>@Model.Name</h1>
        <p class="text-monospace">
            <i class="fas fa-edit"></i>
            <i class="fas fa-share"></i>
            <a class="text-dark text-decoration-none"
               href=@Url.Action("Index", "Commits")>
                <i class="fas fa-history"></i>
            </a>
            <i class="fas fa-arrow-circle-up"></i> @Model.UpVotes
            <i class="fas fa-arrow-circle-down"></i> @Model.DownVotes
        </p>
        <hr />
        @Html.Markdown(Model.Body)
    </div>
</article>
