@using Web.Controllers;

<ul class="nav navbar-nav pull-right">
    @if (AuthController.LoggedInUser == null)
    {
        @Html.ActionLink("Sign In", "SignIn", "Auth", null, new { @class = "nav-item nav-link" })
        @Html.ActionLink("Sign Up", "SignUp", "Auth", null, new { @class = "nav-item nav-link" })
    }
    else
    {
        <a href="#"><i class="fas fa-user"></i></a>
    }
</ul>
