@using Web.Controllers;
<div class="collapse navbar-collapse justify-content-end">
    <ul class="nav navbar-nav">
        @if (AuthController.LoggedInUser == null)
        {
            @Html.ActionLink("Sign In", "SignIn", "Auth", null, new { @class = "nav-item nav-link" })
            @Html.ActionLink("Sign Up", "SignUp", "Auth", null, new { @class = "nav-item nav-link" })
        }
        else
        {
            <a href="@Url.Action("New", "Topics")"><i class="text-white fas fa-plus-circle"></i></a>
            <a href="@Url.Action("Settings", "User")"><i class="text-white fas fa-user"></i></a>
        }
    </ul>
</div>
